html, body {
  height: 100%;
}
body {
  background-color: #66cc66;
  margin: 0;
  font-family: 'Exo', sans-serif;
}
a {
  font: inherit;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.header {
  width: 100%;
  margin: auto;
  max-width: 1000px;
  background-color: red;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.menu {
  list-style: none;
  margin: 0;
  padding-inline-start: 20px;
  background-color: white;
}
.menu .menuItem {
  display: inline-block;
  margin-right: 10px;
}
.menu .menuItem .menuItemDesign {
  display: inline-block;
  font-family: 'Exo', sans-serif;
  font-size: 14px;
  color: #565656;
  font-weight: 700;
  line-height: 19.0px;
  padding: 10px;
}
.menu .menuItem.selected .menuItemDesign {
  background-color: #66cc66;
  color: #f4f4f4;
}
.menu .menuItem:hover .menuItemDesign {
  background-color: white;
  color: #66cc66;
}
.menu .selected.menuItem:hover .menuItemDesign {
  background-color: #66cc66;
  color: #2f9a38;
}

.container {
  width: 100%;
  margin: auto;
  padding-top: 40px;
  max-width: 1000px;
  background-color: #FFFFFF;
}
@media (max-width: 560px) {
  .container {
    padding-top: 80px;
  }
}

.title-container {
  position: relative;
  width: 100%;
  height: 240px;
}
.chameleon {
  height: 100%;
  float: right;
}
.logo-text {
  position: absolute;
  right: 140px;
  top: 56px;
  padding: 2px;
  width: 414px;
  min-height: 133px;
  font-family: Exo;
  font-size: 50px;
  font-weight: 400;
  line-height: 67.0px;
  text-align: center;
}
@media (max-width: 560px) {
  .logo-text {
    left: 50%;
    transform: translateX(-50%);
  }
}
.logo-text .black {
  color: #000000;
}
.logo-text .green {
  color: #33cc66;
}
.title {
  position: absolute;
  top: 167px;
  text-align: left;
  line-height: 50px;
  overflow: hidden;
  width: 100%;
  max-width: 566px;
  background-color: #66cc66;
}
.title span {
  display: inline-block;
  font-family: Exo;
  font-size: 30px;
  font-weight: 400;
  color: #f4f4f4;
}
@media (max-width: 767px) {
  .title {
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
  }
}


.content-grid {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
  }
}
.content {
  flex: 1;
  padding: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.0px;
}
@media (min-width: 768px) {
  .content:nth-child(odd) {
    border-right: 1px solid #66cc66;
  }
  .content {
    padding: 45px;
  }
}
.content h1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 46.0px;
  color: #66cc66;
}
.content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.0px;
  margin-bottom: 0;
  color: #666666;
}
.content .image-container {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content img {
  width: 100%;
  max-width: 400px;
}