/* 
Light:    #9aff95
Default:  #66cc66
Dark:     #2f9a38
*/


div, span, h1 {
  margin: 0;
  padding: 0;
  border: 0;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}
h1, p, li, span {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  line-height: inherit;
  text-align: inherit;
}
li {
  list-style-type: disc;
  padding-left: 0;
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #66cc66;
}
.container {
  width: auto;
  min-width: 1000px;
  clear: both;
  padding: 0px 0px 10px 0px;
}
.pageAlignment {
  position: relative;
  margin: 0px auto;
  width: 1000px;
  min-height: 920px;
  z-index: 0;
}
.pageContent {
  position: relative;
  float: left;
  width: 1000px;
  min-height: 920px;
  border-style: solid;
  background-color: #ffffff;
}

.menu {
  display: block;
  font-size: 0;
  list-style: none;
  white-space: nowrap;
  padding: 0;
  position: absolute;
  left: 17px;
  top: 0px;
  position: absolute;
}
.menu .menuItem {
  vertical-align: top;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  zoom: 1;
  padding: 0 10px 0 0;
}
.menu .menuItem a {
  display: inline-block;
}
.menu .menuItem .menuItemDesign {
  color: #565656;
  font-family: 'Exo', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.0px;
  text-align: left;
  padding: 10px;
  width: auto;
}
.menu .menuItem.selected .menuItemDesign {
  background-color: #66cc66;
  color: #f4f4f4;
}
.menu .menuItem:hover .menuItemDesign {
  background-color: transparent;
  color: #66cc66;
}
.menu .selected.menuItem:hover .menuItemDesign {
  background-color: #66cc66;
  color: #2f9a38;
}

.chameleon {
  position: absolute;
  left: 622px;
  top: 14px;
  height: 238px;
  width: 357px;
  display: block;
  opacity: 1.0;
}

.logo-text {
  position: absolute;
  left: 469px;
  top: 56px;
  padding: 2px;
  width: 414px;
  min-height: 133px;
  font-family: Exo;
  font-size: 50px;
  font-weight: 400;
  line-height: 67.0px;
  text-align: left;
}
.logo-text .c0 {
  color: #000000;
}
.logo-text .c1 {
  color: #33cc66;
}

.title {
  left: -13px;
  top: 167px;
  position: absolute;
  overflow: hidden; 
  text-align: center;
  height: 58px;
  line-height: 58px;
  width: 566px;
  background-color: #66cc66;
}
.title span {
  display: inline-block;
  font-family: Exo;
  font-size: 30px;
  font-weight: 400;
  color: #f4f4f4;
}

.activ8-logo {
  left: 89px;
  top: 266px;
  position: absolute;
  height: 326px;
  width: 259px;
  display: block;
}




.page_home_fD2rYsc4Lfea48D96xvWU {
  left: 45px;
  top: 628px;
  position: absolute;
  padding: 2px;
  width: 387px;
  min-height: 258px;
  font-family: Exo;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  border-style: solid;
  z-index: 63;
  word-wrap: break-word;
}
.page_home_fD2rYsc4Lfea48D96xvWU .p0 {
  font-size: 30px;
  line-height: 46.0px;
  color: #66cc66;
}
.page_home_fD2rYsc4Lfea48D96xvWU .p1 {
  font-size: 16px;
  line-height: 27.0px;
  color: #666666;
}
.page_home_fD2rYsc4Lfea48D96xvWU .p2 {
  font-size: 16px;
  line-height: 27.0px;
  color: #666666;
}
.page_home_fDZvid5ucKNpBUSXzMr23 {
  left: 158px;
  top: 604px;
  position: absolute;
  height: 1px;
  width: 685px;
  z-index: 62;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.page_home_f3KjbW-nX44KMGb7jaaQU {
  left: 536px;
  top: 632px;
  position: absolute;
  padding: 2px;
  width: 392px;
  min-height: 201px;
  font-family: Exo;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  border-style: solid;
  z-index: 59;
  word-wrap: break-word;
}
.page_home_f3KjbW-nX44KMGb7jaaQU .p0 {
  font-size: 30px;
  line-height: 46.0px;
  color: #66cc66;
}
.page_home_f3KjbW-nX44KMGb7jaaQU .p1 {
  font-size: 16px;
  line-height: 27.0px;
  color: #666666;
}
.page_home_fPszPYYPC4TgPqO7Xlw_f {
  left: 532px;
  top: 332px;
  position: absolute;
  height: 207px;
  width: 445px;
  z-index: 13;
  display: block;
  opacity: 1.0;
}



